@using EntityLayer.Concrete
@model List<Skill>

<div class="col-md-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeteneklerim </h4>
            
            @foreach (var item in Model)
            {
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                    <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">@item.Title</h6>
                        
                    </div>
                    <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">@item.Value</h6>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
